<script src="<?php echo $_layoutParams["route_js"]; ?>/bootstrap.min.js"></script>
        <script src="<?php echo $_layoutParams["route_js"]; ?>/bootstrap.js"></script>
        <script src="<?php echo $_layoutParams["route_js"]; ?>/main.js"></script>

</body>
</html>