<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Money Tracking</title>
     <link rel="stylesheet" href="<?php echo $_layoutParams["route_css"]; ?>/normalize.min.css">
    <link rel="stylesheet" href="<?php echo $_layoutParams["route_css"]; ?>/main.css">
    <link rel="stylesheet" href="<?php echo $_layoutParams["route_css"]; ?>/bootstrap.min.css">
    </head>
</html>