</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="<?php echo $_layoutParams["route_js"]; ?>/jquery-3.1.0.min.js"></script>

        <script src="<?php echo $_layoutParams["route_js"]; ?>/bootstrap.min.js"></script>
        <script src="<?php echo $_layoutParams["route_js"]; ?>/bootstrap.js"></script>
        <script src="<?php echo $_layoutParams["route_js"]; ?>/main.js"></script>
        <script src="<?php echo $_layoutParams["route_js"]; ?>/jquery-3.1.0.min.js"></script>

</div>
</body>
</html>
