<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Document</title>

	<!--<link rel="stylesheet" href="<?php echo $_layoutParams["route_css"]?>/style.css">-->
	<link rel="stylesheet" href="<?php echo $_layoutParams["route_css"]; ?>/normalize.min.css">
    <link rel="stylesheet" href="<?php echo $_layoutParams["route_css"]; ?>/main.css">
    <link rel="stylesheet" href="<?php echo $_layoutParams["route_css"]; ?>/bootstrap.min.css">
    <link rel="stylesheet" href="<?php echo $_layoutParams["route_css"]; ?>/login.css">
    <link rel="stylesheet" href="<?php echo $_layoutParams["route_css"]; ?>/bootstrap.css">

</head>
<body>
		<div id="container">
		<nav class="navbar navbar-default">
		<div class="container-fluid">
		<div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<?php echo APP_URL?> /pages">Money Tracking</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a  href="<?php echo APP_URL?> /users">Users </a></li>
        <li><a href="<?php echo APP_URL?> /types">Types users</a></li>
        <li><a href="<?php echo APP_URL?> /categories">Categories</a></li>
        <li><a href="<?php echo APP_URL?> /accounts">Account</a></li>
        <li><a href="<?php echo APP_URL?> /transactions">Transactions</a></li>
        
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Welcome <?php echo $_SESSION["username"]; ?></a></li>
        <li><a href="<?php echo APP_URL."/users/logout";?>">Logout</a></li>
        
        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


